html,
body {
    margin: 0;
    padding: 0;
}

#slider {
    position: relative;
    overflow: hidden;
    height: 600px;

}

#slider .slide-show {
    position: absolute;
    height: 100%;
}

#slider .slide-show .single-slide {
    position: absolute;
    top: 0;
    left: 0;
}

#slider .slide-show img {
    height: 100%;
    width: 100%;

}

#slider .slide-show .single-slide p.slide-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 5;
    color: #fff;
    font-size: 4em;
}

#slider .slider-arrows button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height:30px;
    width:50px;
    z-index: 10;
    font-size: 15px;
}

#slider .slider-arrows button.prev-slide {
    /*    position: absolute;*/
    left: 0;
}

#slider .slider-arrows button.next-slide {
    /*    position: absolute;*/
    right: 0;
}
